.what-we-offer{
	padding-top: 80px;
	/*height: 700px;*/
}
.sub-header{
	width: 50%;
	margin: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}


.sub-header p{

	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 90px;
}


.sub-header h2{
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	color: #709dca;
}

.row>.left, .row>.right{
	padding-bottom: 60px;
}
.row>.left{
	width: 47%;
	float:left;
	padding-right: 3%;
}

.row>.right{
	width: 47%;
	float:right;
	padding-left: 3%;
}


.icon,.text{
	display: inline-block;
}

.icon{
vertical-align: top;
padding-top: 13px;
padding-right: 25px;
}

.text{
	width: 85%;
	color: #394b50;
}

.text h2{
	color: #394b50;
	font-size: 16px;
	text-transform: uppercase;
}

.text p{
	color: #7b7b7b;
	font-size: 13px;
}

.fa-wrench{
	color: #ffcc66;
}

.fa-database, .fa-cogs, .fa-globe, .fa-glass, .fa-gamepad{
	color:  #709dca;
}


.blurb{
	font-family: 'Lato', sans-serif;
}


.who-we-are{
	/*height: 623px;*/
	background-color: #ffc155;
	position: relative;
}

.large-left{
	/*display: inline-block;*/
	/*height: 620px;*/
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 50%;
	background-image: url('../images/loner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.large-right{
	/*display: inline-block;*/
	font-family: 'Open Sans', sans-serif;
	width: 50%;
	color: #ffffff;
	vertical-align: top;
	padding-bottom: 50px;
	float:right;
	
}

.content{
	width: 80%;
	margin: auto;
	margin-top: 95px;
}
.large-right h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 26px
}

.large-right p{
	font-weight: 200;
	line-height: 26px;
	font-size: 13px;
	padding-top: 20px;
	/*letter-spacing: 1.2px;*/
}

.large-right a{
	background-color: #e7ad48;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	width: 85px;
	padding-right: 35px;
	padding-left: 25px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: center;
	border: 1px solid #cb8d21;
	border-radius: 3px;
	margin-top: 70px;
}

.see-our-work{
	/*height: 900px;*/
}

.pre-nav, .bottom-swipper {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 100px;
}



.pre-nav h2, .bottom-swipper h2{
	font-weight: 800;
	font-size: 26px;
	text-transform: uppercase;
	color: #709dca;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	width: 225px;
	margin: auto;
	padding-bottom: 15px;
	border-bottom: 2px solid #ffcc66;
}


.pre-nav p{
	font-size: 16px;
	font-weight: 400;
	margin-top: 40px;
	color: #709dca;
}



.my-active{
	background-color: #709dca;
	color: #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.subnav{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}
.subnav>li{
	display: inline-block;
	margin-right: 40px;
}
/*.subnav a{
	
}
*/

.image{
	/*background-color: blue;*/
	/*height:280px;*/
	/*width:360px;*/
	float: left;
	width: 25%;

}

.image:before{
	content: '';
	display: block;
	padding-top: 75.6%;
}

.grid{
	margin-top: 40px;
}


.comment-left, .comment-right{
	width: 40%;
	display: inline-block;
	text-align: left;
}

.comment-left{
	padding-right: 80px;
}

.comment-right{
	padding-left: 80px;
}

.comment-row>.comment-text{
	background-color: #f6f3f3;
	font-style: italic;
	font-weight: 200;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 1.20;
	padding: 20px;
}

.commenter{
	background: #ffffff;
}

.comment-icon, .commenter{
	display: inline-block;
}

.center-bottom{
	padding-top: 80px;
}

.fa-user{
	color: #654565;
	padding-right: 25px;
}