footer{
	background-color: #273a43;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

.main-footer{
	padding-top: 60px;
}


.end{
	background-color: #172227;
}

.end .column{
	display: inline-block;
	width: 33%
}

.footer-brand{
	color: #ffffff;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

.brand-details{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
}

.fa-twitter, .fa-map-marker, .fa-envelope, .fa-phone{
	color: #71b6d5;
}
.fa-map-marker, .fa-envelope, .fa-phone{
	padding-right: 15px;
}
.column{
	vertical-align: top;
	display: inline-block;
	width: 22%;
	padding-right: 30px;
}

.fa-twitter, .twitter-content{
	display: inline-block;
}
.twitter-content{
	width: 90%;
}


.twitter-content p{
	margin-top: 0;
	margin-bottom: 0;
}

.fa-twitter{
	vertical-align: top;
	padding-top: 5px;
}
.column h2{
	font-size: 22px;
	font-weight: 400;
}

.column p{
	font-size: 13.5px;
	color: #c3c3c3;
	line-height: 23px;
}

.tweet{
	padding-bottom: 15px;
}

.end .column{
	padding: 0;
}

.end .column p{
	padding-top: 30px;
	padding-bottom: 30px;
}
.column.middle{
	text-align: center;
}

.column.right{
	text-align: right;
}

.column.contact a{
	color: #ffffff;
	padding-bottom: 15px;
	display: inline-block;
	font-size: 13.5px;
	font-weight: 300;
}

.tweet a{
	color: #71b6d5;
}
.social {
	padding-top: 30px;
    padding-bottom: 30px;
}
.social li{
	display: inline-block;
}

.social li +  li{
	margin-left: 10px;
}


.social a{
	height: 50px;
}

.social .fa-twitter{
	color: #ffffff;
}


input{
	border: none;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px 0px  0px 5px;
    background-color: #172227;
    font-size: 13.5px;

}

input[type="text"]{
	width: calc(100% - 120px);
}

input[type="submit"]{
	background: #71b6d5;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 0px 5px  5px 0px;
}
