.my-nav{
	position: absolute;
	z-index: 100;
}

.brand{
	float: left;
}

.brand p{
	color: #ffcc66;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

.items{
	float: right;
	padding-top: 30px;
}

.nav-item{
	display: inline-block;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14.5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 100;
}




