body{
	margin: 0 !important;
}

.wrapper{
	width: 1170px;
	margin: auto;
	/*background: blue;*/
}
.alt-wrapper{
	max-width: 1000px;
	margin: auto;
}
a{
	text-decoration: none !important;
}

header{
	position: relative;
}

ul{
	list-style: none;
	padding: 0;
}

.clearfix::before, .clearfix::after {
	content: '';
	display: table;
	clear: both;
}