.swiper-container.header {
    width: 100%;
    height: 556px;
}      

.swiper-container.footer{
	width: 100%;
	height: 550px;
}

.swiper-button-next{
	 padding-right: 135px;
}

.swiper-button-prev{
	 padding-left: 135px;
}

.swiper-slide.first{
	background-image:
	linear-gradient( rgba(46, 41, 41, 0.76), rgba(46, 41, 41, 0.76) ),
	url('../images/erik-slide.png')

}

.swiper-slide.second{
	background-image:
	linear-gradient( rgba(55, 20, 40, 0.45), rgba(55, 20, 40, 0.45) ),
	url('../images/erik-slide.png')

}

.swiper-slide.third{
	background-image:
	linear-gradient( rgba(39, 58, 67, 0.60), rgba(39, 58, 67, 0.60) ),
	url('../images/erik-slide.png')

}

.slide-center{
		padding-top: 200px;
		width: 50%;
		margin: auto;
		text-align: center;
}

.slide-center h2{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 0;
}


.slide-center p{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-bottom: 100px;
	margin-top: -6px;
	font-weight: 100;
}

.slide-center a{
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 17px;
	background-color: #709dca;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 24px;
	padding-left: 24px;
	border-radius: 5px;
}










